.contact {

    background-color: var(--white);
    border-radius: 40px;
    padding: 100px 0px;
    margin-bottom: 30px;

    &__container {
    }

    &__columns {
        display: flex;
        gap: 212px;
    }

    &__content {

        max-width: 388px;
        flex: 1 1 auto;

        &_title {
            color: var(--green-2);
            margin-bottom: 68px;
        }

        &_address {
            font-size: 20px;
            margin-bottom: 16px;
            line-height: 1.3;
        }

        &_number {
            font-size: 24px;
            font-weight: 700;
            color: var(--black);
        }

        &_locations {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 50px;
            a {
                display: inline-flex;
                align-items: center;
                gap: 12px;
                border-radius: 50px;
                padding: 0px 16px;
                height: 60px;
                color: var(--white);
                font-size: 18px;
                transition: 0.3s ease all;
                &:nth-child(1) {
                    background-color: var(--yellow-2);
                    &:hover {
                        background-color: var(--yellow);
                    }
                    &:active {
                        background-color: var(--black);
                    }
                }
                &:nth-child(2) {
                    background-color: var(--green-2);
                    &:hover {
                        background-color: var(--green);
                    }
                    &:active {
                        background-color: var(--black);
                    }
                }
            }
        }
    }

    &__map {
        flex: 1 1 auto;
        iframe {
            width: 100%;
            height: 536px;
            border-radius: 20px;
        }
    }
}
@media (max-width: 767px) {
    .contact {
        background-color: var(--white);
        border-radius: 40px;
        padding: 48px 0px;
        margin-bottom: 48px;
    
        &__container {
        }
    
        &__columns {
            display: flex;
            gap: 24px;
            flex-direction: column;
        }
    
        &__content {
    
            max-width: 388px;
            flex: 1 1 auto;
    
            &_title {
                color: var(--green-2);
                margin-bottom: 24px;
            }
    
            &_address {
                font-size: 16px;
                margin-bottom: 10px;
                line-height: 1.3;
            }
    
            &_number {
                font-size: 24px;
                font-weight: 700;
                color: var(--black);
            }
    
            &_locations {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 24px;
                a {
                    display: inline-flex;
                    align-items: center;
                    gap: 6px;
                    border-radius: 50px;
                    padding: 0px 16px;
                    height: 60px;
                    color: var(--white);
                    font-size: 18px;
                    transition: 0.3s ease all;
                    flex: 1 1 auto;
                    justify-content: center;
                    img {
                        display: none;
                    }
                    &:nth-child(1) {
                        background-color: var(--yellow-2);
                        &:hover {
                            background-color: var(--yellow);
                        }
                        &:active {
                            background-color: var(--black);
                        }
                    }
                    &:nth-child(2) {
                        background-color: var(--green-2);
                        &:hover {
                            background-color: var(--green);
                        }
                        &:active {
                            background-color: var(--black);
                        }
                    }
                }
            }
        }
    
        &__map {
            flex: 1 1 auto;
            iframe {
                width: 100%;
                height: 350px;
                border-radius: 20px;
            }
        }
    }
}