.course {
    margin: 70px 0px 100px 0px;
    position: relative;
    &__container {
        position: relative;
        width: 100%;
    }

    &__title {
        text-align: center;
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__swiper {
        position: relative;
        overflow: hidden;
    }

    &__wrapper {
        display: inline-flex;
    }

    &__slide {
        background-color: var(--white);
        border-radius: 20px;
        padding: 50px 27px;
        display: flex;
        flex-direction: column;
        height: 456px;
        position: relative;
        &:nth-child(2n) {
            .course__slide_img {
                background-color: var(--yellow-2);
            }
            .course__button {
                background-color: var(--yellow-2);
                &:hover {
                    background-color: var(--yellow);
                }
                &:active {
                    background-color: var(--black);
                }
            }
            &::before,
            &::after {
                background-color: var(--yellow-2);
            }
            & > span {
                &::before,
                &::after {
                    background-color: var(--yellow-2);
                }
            }
            .course__list_item {
                svg path {
                    fill: var(--yellow-2);
                }
            }
        }
        &:nth-child(3n) {
            .course__slide_img {
                background-color: var(--green-2);
            }
            .course__button {
                background-color: var(--green-2);
                &:hover {
                    background-color: var(--green);
                }
                &:active {
                    background-color: var(--black);
                }
            }
            &::before,
            &::after {
                background-color: var(--green-2);
            }
            & > span {
                &::before,
                &::after {
                    background-color: var(--green-2);
                }
            }
            .course__list_item {
                svg path {
                    fill: var(--green-2);
                }
            }
        }
        & > span {
            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 30%;
                width: 2px;
                background-color: var(--blue-2);
            }
            &::before {
                right: 0px;
                top: 35%;
            }
            &::after {
                left: 0;
                top: 35%;
            }
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            background-color: var(--blue-2);
        }
        &::after {
            top: 0;
            left: 5%;
        }
        &::before {
            bottom: 0;
            left: 5%;
        }
        &_title {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 50px;
            text-transform: uppercase;

            span {
                font-size: 32px;
                font-weight: 700;
                color: var(--black);
            }
        }

        &_img {
            width: 70px;
            height: 70px;
            background-color: var(--blue-2);
            padding: 15px;
            border-radius: 50%;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1 1 auto;
        &_item {
            display: flex;
            align-items: center;
            gap: 12px;
            svg {
                flex: 0 0 24px;
            }
            span {
                font-size: 16px;
            }
        }
    }

    &__button {
        background-color: var(--blue-2);
        max-width: inherit;
        &:hover {
            background-color: var(--blue);
        }
        &:active {
            background-color: var(--black);
        }
    }
    
}
.course__navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 12;
    position: absolute;
    top: calc(50% + 60px);
    left: 0;
    user-select: none;

    span {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--white);
        position: absolute;
        cursor: pointer;
        &:nth-child(1) {
            top: calc(50% - 30px);
            left: -80px;
        }
        &:nth-child(2) {
            top: calc(50% - 30px);
            right: -80px;
        }
        &.swiper-button-disabled {
            cursor: inherit;
            svg path {
                fill: var(--grey);
            }
        }
    }
}

@media (max-width: 767px) {
    .course {
        margin: 0px 0px 48px 0px;
        &__container {
        }
    
        &__title {
            text-align: center;
            margin-bottom: 70px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
        &__swiper {
            position: relative;
        }
    
        &__wrapper {
            display: inline-flex;
        }
    
        &__slide {
            background-color: var(--white);
            border-radius: 20px;
            padding: 24px 12px;
            display: flex;
            flex-direction: column;
            height: 386px;
            position: relative;
            &:nth-child(2) {
                .course__slide_img {
                    background-color: var(--yellow-2);
                }
                .course__button {
                    background-color: var(--yellow-2);
                    &:hover {
                        background-color: var(--yellow);
                    }
                    &:active {
                        background-color: var(--black);
                    }
                }
                &::before,
                &::after {
                    background-color: var(--yellow-2);
                }
                & > span {
                    &::before,
                    &::after {
                        background-color: var(--yellow-2);
                    }
                }
                .course__list_item {
                    svg path {
                        fill: var(--yellow-2);
                    }
                }
            }
            &:nth-child(3) {
                .course__slide_img {
                    background-color: var(--green-2);
                }
                .course__button {
                    background-color: var(--green-2);
                    &:hover {
                        background-color: var(--green);
                    }
                    &:active {
                        background-color: var(--black);
                    }
                }
                &::before,
                &::after {
                    background-color: var(--green-2);
                }
                & > span {
                    &::before,
                    &::after {
                        background-color: var(--green-2);
                    }
                }
                .course__list_item {
                    svg path {
                        fill: var(--green-2);
                    }
                }
            }
            & > span {
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    height: 30%;
                    width: 2px;
                    background-color: var(--blue-2);
                }
                &::before {
                    right: 0px;
                    top: 35%;
                }
                &::after {
                    left: 0;
                    top: 35%;
                }
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 90%;
                height: 2px;
                background-color: var(--blue-2);
            }
            &::after {
                top: 0;
                left: 5%;
            }
            &::before {
                bottom: 0;
                left: 5%;
            }
            &_title {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 48px;
    
                span {
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--black);
                }
            }
    
            &_img {
                width: 70px;
                height: 70px;
                background-color: var(--blue-2);
                padding: 15px;
                border-radius: 50%;
            }
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1 1 auto;
            svg {
                flex: 0 0 24px;
            }
            &_item {
                display: flex;
                align-items: center;
                gap: 12px;
                span {
                    font-size: 16px;
                }
            }
        }
    
        &__button {
            background-color: var(--blue-2);
            max-width: inherit;
            &:hover {
                background-color: var(--blue);
            }
            &:active {
                background-color: var(--black);
            }
        }
        &__navigation {
            display: flex;
            justify-content: center;
            gap: 48px;
            width: 100%;
            margin-top: 12px;
    
            span {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--white);
                position: absolute;
                cursor: pointer;
                &:nth-child(1) {
                    position: relative;
                    left: inherit;
                }
                &:nth-child(2) {
                    position: relative;
                    right: inherit;
                }
                &.swiper-button-disabled {
                    cursor: inherit;
                    svg path {
                        fill: var(--grey);
                    }
                }
            }
        }
    }
    .course__navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 12;
        top: calc(50% + 60px);
        left: 0;
        user-select: none;

        .course__container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 48px;
        }
    
        span {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--white);
            position: absolute;
            cursor: pointer;
            &:nth-child(1) {
                top: calc(50% - 30px);
                left: 0px;
            }
            &:nth-child(2) {
                top: calc(50% - 30px);
                right: 0px;
            }
            &.swiper-button-disabled {
                cursor: inherit;
                svg path {
                    fill: var(--grey);
                }
            }
        }
    }
}