.header {
    background-color: white;
    border-radius: 40px;
    padding: 20px 7px 20px 20px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex: 0 1 340px;
    }

    &__nav {
        flex: 0 1 30%;
        margin-right: auto;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 55px;
        &_item {
            position: relative;
        }

        &_item::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }

        &_item:nth-child(1)::after {
            background-color: var(--blue-2);
        }
        &_item:nth-child(2)::after {
            background-color: var(--yellow-2);
        }
        &_item:nth-child(3)::after {
            background-color: var(--green-3);
        }
    }

    &__languages {
        flex: 0 1 13%;
        display: flex;
        align-items: center;
        gap: 10px;
        a {
            transition: 0.3s ease all;
            &:hover {
                color: var(--green-2);
            }
            &:active {
                font-weight: 700;
            }
        }
    }

    &__sign {
        border: 1px solid var(--black);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius);
        padding: 0px 40px;
        transition: 0.3s ease all;
        &:hover {
            color: var(--white);
            background-color: var(--yellow-2);
            border-color: var(--yellow-2);
        }
        &:active {
            background-color: var(--yellow);
        }
    }
}
