.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    &__container {
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 40px;
        padding: 20px 7px 20px 20px;
    }

    &__logo {
        flex: 0 1 340px;
    }

    &__nav {
        flex: 0 1 30%;
        margin-right: auto;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 55px;
        &_item {
            position: relative;
            a {
                transition: 0.3s ease all;
            }
        }

        &_item::after {
            content: "";
            position: absolute;
            top: calc(50% - 2.5px);
            left: -15px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }

        &_item:nth-child(1):hover {
            a {
                color: var(--blue-2);
            }
        }
        &_item:nth-child(2):hover {
            a {
                color: var(--yellow-2);
            }
        }
        &_item:nth-child(3):hover {
            a {
                color: var(--green-3);
            }
        }
        &_item:nth-child(1)::after {
            background-color: var(--blue-2);
        }
        &_item:nth-child(2)::after {
            background-color: var(--yellow-2);
        }
        &_item:nth-child(3)::after {
            background-color: var(--green-3);
        }
    }

    &__languages {
        flex: 0 1 13%;
        display: flex;
        align-items: center;
        gap: 10px;
        a {
            transition: 0.3s ease all;
            &:hover {
                color: var(--green-2);
            }
            &:active {
                font-weight: 700;
            }
        }
    }

    &__sign {
        border: 1px solid var(--black);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius);
        padding: 0px 40px;
        transition: 0.3s ease all;
        &:hover {
            color: var(--white);
            background-color: var(--yellow-2);
            border-color: var(--yellow-2);
        }
        &:active {
            background-color: var(--yellow);
        }
    }
}
@media (max-width: 767px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        &__container {
        }
        &__box {
            display: flex;
            align-items: center;
            justify-content: inherit;
            background-color: white;
            border-radius: 0px 0px 40px 40px;
            padding: 15px 16px;
            margin: 0px -15px 0px -15px;
        }
    
        &__logo {
            flex: 1 1 auto;
            max-width: 88px;
            img {
                width: 100%;
            }
            z-index: 1;

        }
    
        &__nav {
            flex: 0 1 30%;
            margin-right: inherit;
            position: fixed;
            top: 0;
            left: -200%;
            height: 100%;
            width: 100%;
            background-color: var(--white);
            display: flex;
            transition: 0.3s ease all;
            &.active {
                left: 0;
            }
        }

        &__button {
            &_write {
                background-color: var(--green-2);
                margin-top: 90px;
            }
            &_pay {
                background-color: var(--blue-2);
            }
        }
    
        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 24px;
            padding: 0px 16px;
            &_item {
                position: relative;
                a {
                    transition: 0.3s ease all;
                    font-size: 32px;
                    color: var(--green-2);
                    font-weight: 700;
                }
            }
    
            &_item::after {
                display: none;
            }
    
            &_item:nth-child(1):hover {
                a {
                    color: var(--blue-2);
                }
            }
            &_item:nth-child(2):hover {
                a {
                    color: var(--yellow-2);
                }
            }
            &_item:nth-child(3):hover {
                a {
                    color: var(--green-3);
                }
            }
            &_item:nth-child(1)::after {
                background-color: var(--blue-2);
            }
            &_item:nth-child(2)::after {
                background-color: var(--yellow-2);
            }
            &_item:nth-child(3)::after {
                background-color: var(--green-3);
            }
        }
    
        &__languages {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            margin-left: auto;
            justify-content: flex-end;
            margin-right: 32px;
            z-index: 1;
            a {
                transition: 0.3s ease all;
                &:hover {
                    color: var(--green-2);
                }
                &:active {
                    font-weight: 700;
                }
            }
        }

        &__burger {
            height: 24px;
            width: 24px;
            position: relative;
            cursor: pointer;
            &::before, &::after {
                content: '';
                position: absolute;
                height: 1px;
                width: 18px;
                background-color: var(--black);
                transition: 0.3s ease all;
            }
            &::before  {
                top: 6px;
                right: 3px;
            }
            &::after {
                top: 14px;
                right: 3px;
            }
            span {
                &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 14px;
                    background-color: var(--black);
                    transition: 0.3s ease all;
                }
                &::before  {
                    top: 10px;
                    right: 3px;
                }
                &::after {
                    top: 18px;
                    right: 3px;
                }
            }
            &.active {
                &::before, &::after {
                    top: 12px;
                    right: 6px;
                }
                &::before  {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
                span {
                    &::before, &::after {
                        transform: scale(0);
                    }
                    &::before  {
                    }
                    &::after {
                    }
                }
            }
        }
    
        &__sign {
            font-size: 16px;
            align-items: center;
        }
    }
}