@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
.info {
    margin: 0px 0px 150px 0px;

    &__level {
        display: flex;
        align-items: center;
        white-space: nowrap;
        background-color: var(--white);
        padding: 32px 32px;
        border-radius: 40px;
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        z-index: -1;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 120px;
        animation: scrollText 25s infinite linear;
        padding-right: 120px;

        span {
            font-size: 36px;
            color: var(--black);
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: -70px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
            }

            &:nth-child(1)::before {
                background-color: var(--blue-2);
            }
            &:nth-child(2)::before {
                background-color: var(--green-3);
            }
            &:nth-child(3)::before {
                background-color: var(--yellow-2);
            }
            &:nth-child(4)::before {
                background-color: var(--blue-2);
            }
            &:nth-child(5)::before {
                background-color: var(--green-3);
            }
            &:nth-child(6)::before {
                background-color: var(--yellow-2);
            }
            &:nth-child(7)::before {
                background-color: var(--blue-2);
            }
            &:nth-child(8)::before {
                background-color: var(--green-3);
            }
            &:nth-child(9)::before {
                background-color: var(--yellow-2);
            }
            &:nth-child(10)::before {
                background-color: var(--blue-2);
            }
            &:nth-child(11)::before {
                background-color: var(--green-3);
            }
            &:nth-child(12)::before {
                background-color: var(--yellow-2);
            }
        }
    }

    &__container {
    }

    &__columns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 150px 0px 175px 0px;
    }

    &__column {
        background-color: var(--white);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1 1 auto;
        min-width: 180px;
        min-height: 165px;
        transition: 0.3s ease all;
        div {
            span {
                transform: translateY(10px);
            }
        }
        &:hover {
            color: var(--white);
            span {
                color: var(--white);
            }
        }
        &:nth-child(1):hover {
            background-color: var(--green-2);
        }
        &:nth-child(2):hover {
            background-color: var(--yellow);
        }
        &:nth-child(3):hover {
            background-color: var(--blue);
        }
        &:nth-child(4):hover {
            background-color: var(--green);
        }
        &:nth-child(5):hover {
            background-color: var(--blue-2);
        }
        &:nth-child(3) {
            min-width: 210px;
        }
        &:nth-child(2) {
            max-width: 340px;
        }
        span {
            font-size: 64px;
            color: var(--black);
            font-weight: 700;
            display: flex;
            align-items: center;
            div {
                color: var(--blue-2);
            }
        }
        &_special {
            p {
                display: flex;
                flex-direction: column;
            }
            div {
                display: flex;
                align-items: flex-end;
                gap: 5px;
                span {
                }
            }
        }
    }

    &__percent {
        max-width: 526px;
        text-align: center;
        background-image: url(../img/png/border-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 526px;
        &_title {
            font-size: 160px;
            display: flex;
            justify-content: center;
            span {
                font-size: 48px;
                font-weight: 700;
            }
        }

        &_subtitle {
            font-size: 20px;
            line-height: 1.3;
        }
    }
}
@media (max-width: 767px) {
    .info {
        margin: 0px 0px 48px 0px;

        &__level {
            display: flex;
            align-items: center;
            white-space: nowrap;
            background-color: var(--white);
            padding: 20px 0px;
            border-radius: 40px;
            overflow: hidden;
            position: relative;
            margin-top: 54px;
        }

        &__box {
            display: flex;
            align-items: center;
            gap: 60px;
            animation: scrollText 25s infinite linear;
            padding-right: 60px;

            span {
                font-size: 24px;
                color: var(--black);
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: -40px;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                }

                &:nth-child(1)::before {
                    background-color: var(--blue-2);
                }
                &:nth-child(2)::before {
                    background-color: var(--green-3);
                }
                &:nth-child(3)::before {
                    background-color: var(--yellow-2);
                }
                &:nth-child(4)::before {
                    background-color: var(--blue-2);
                }
                &:nth-child(5)::before {
                    background-color: var(--green-3);
                }
                &:nth-child(6)::before {
                    background-color: var(--yellow-2);
                }
                &:nth-child(7)::before {
                    background-color: var(--blue-2);
                }
                &:nth-child(8)::before {
                    background-color: var(--green-3);
                }
                &:nth-child(9)::before {
                    background-color: var(--yellow-2);
                }
                &:nth-child(10)::before {
                    background-color: var(--blue-2);
                }
                &:nth-child(11)::before {
                    background-color: var(--green-3);
                }
                &:nth-child(12)::before {
                    background-color: var(--yellow-2);
                }
            }
        }

        &__container {
        }

        &__columns {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6px;
            margin: 48px 0px;
        }

        &__column {
            width: 100%;
            background-color: var(--white);
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1 1 auto;
            min-width: 180px;
            min-height: inherit;
            transition: 0.3s ease all;
            & {
                color: var(--white);
                span {
                    color: var(--white);
                }
            }
            &:nth-child(1) {
                background-color: var(--green-2);
            }
            &:nth-child(2) {
                background-color: var(--yellow);
            }
            &:nth-child(3) {
                background-color: var(--blue);
            }
            &:nth-child(4) {
                background-color: var(--green);
            }
            &:nth-child(5) {
                background-color: var(--blue-2);
            }
            &:nth-child(3) {
                min-width: 210px;
            }
            &:nth-child(2) {
                max-width: 100%;
            }
            span {
                font-size: 64px;
                color: var(--white);
                font-weight: 700;
                display: flex;
                align-items: center;
                div {
                    color: var(--blue-2);
                }
            }
            &_special {
                p {
                    display: flex;
                    flex-direction: column;
                }
                div {
                    display: flex;
                    align-items: flex-end;
                    gap: 5px;
                    span {
                    }
                }
            }
        }

        &__percent {
            min-width: 300px;
            text-align: center;
            background-image: url(../img/png/border-bg.png);
            background-repeat: no-repeat;
            aspect-ratio: 1 / 1;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: inherit;
            &_title {
                font-size: 94px;
                display: flex;
                justify-content: center;
                span {
                    font-size: 32px;
                    font-weight: 700;
                }
            }

            &_subtitle {
                font-size: 16px;
                line-height: 1.3;
            }
        }
    }
}
