.main {
    &__container {
    }

    &__columns {
        display: flex;
        
    }

    &__content {
        flex: 1 1 auto;
        &_title {
        }

        &_subtitle {
        }
    }

    &__image {
        flex: 0 1 32%;
    }
}
