.main {
    background-image: url(../img/png/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 40px 40px;
    &__container {
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        margin: 200px 0px 100px 0px;
        display: flex;
        align-items: center;
    }

    &__content {
        flex: 1 1 auto;
        &_title {
            font-size: 64px;
            font-weight: 700;
            line-height: 1.1;
            max-width: 820px;
            text-transform: uppercase;
            color: var(--green);
        }

        &_subtitle {
            margin: 30px 0px 112px;
            font-size: 20px;
            font-weight: 300;
        }
    }
    &__button {
        background-color: var(--blue-2);
        &:hover {
            background-color: var(--blue);
        }
        &:active {
            background-color: var(--black);
        }
    }

    &__image {
        flex: 0 1 32%;
    }
}
@media (max-width: 767px) {
    .main {
        background-image: url(../img/png/bg-393.png);
        border-radius: 0px 0px 40px 40px;
        &__container {
        }

        &__columns {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 32px;
            margin: 110px 0px 36px 0px;
            display: flex;
            align-items: center;
        }

        &__content {
            flex: 1 1 auto;
            &_title {
                font-size: 40px;
                font-weight: 700;
                line-height: 1.1;
                max-width: 820px;
                text-transform: uppercase;
                color: var(--green);

            }

            &_subtitle {
                margin: 24px 0px 32px;
                font-size: 16px;
                font-weight: 300;
            }
        }
        &__button {
            background-color: var(--blue-2);
            margin: 0 auto;
            &:hover {
                background-color: var(--blue);
            }
            &:active {
                background-color: var(--black);
            }
        }

        &__image {
            flex: 1 1 auto;
            max-width: 215px;
            img {
                width: 100%;
            }
        }
    }
}
