.school {
    background-color: var(--white);
    padding: 100px 0px;
    border-radius: 40px;
    &__container {
    }

    &__columns {
        display: flex;
        gap: 20px;
    }

    &__content {
        flex: 0 1 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_title {
        }

        &_text {
            font-size: 20px;
            line-height: 1.3;
            max-width: 580px;
            & p:nth-child(1) {
                margin-bottom: 30px;
            }
        }

        &_button {
            background-color: var(--green-2);
            &:hover {
                background-color: var(--green);
            }
            &:active {
                background-color: var(--black);
            }
        }
    }

    &__img {
        flex: 0 1 55%;
        img {
            width: 100%;
            border-radius: 30px;
        }
    }

    &__img.mobile-only {
        margin: 15px 0px;
    }
}

@media (max-width: 767px) {
    .school {
        background-color: var(--white);
        padding: 48px 0px;
        border-radius: 40px;
        &__container {
        }

        &__columns {
            display: flex;
            gap: 20px;
        }

        &__content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &_title {
                margin-bottom: 24px;
                font-size: 32px;
                letter-spacing: 3%;
            }

            &_text {
                font-size: 20px;
                line-height: 1.3;
                max-width: 580px;
                & p:nth-child(1) {
                    margin-bottom: 0px;
                }
            }

            &_button {
                background-color: var(--green-2);
                margin-top: 24px;
                max-width: inherit;
                &:hover {
                    background-color: var(--green);
                }
                &:active {
                    background-color: var(--black);
                }
            }
        }

        &__img {
            flex: 0 1 55%;
            img {
                width: 100%;
                border-radius: 30px;
            }
        }

        &__img.mobile-only {
            margin: 24px 0px;
        }
    }
}