.step {
    background-color: var(--white);
    border-radius: 40px;
    padding: 133px 0px 117px 0px;
    margin: 30px 0px;
    &__container {
    }

    &__title {
        margin-bottom: 58px;
        color: var(--blue);
    }

    &__columns {
        display: flex;
        gap: 20px;
        &_image {
            flex: 0 1 41%;
            width: 100%;
            img {
                width: 100%;
            }
        }

        &_form {
            flex: 1 1 auto;
            background-color: var(--grey-2);
            padding: 40px 40px 54px 40px;
            text-align: center;
            border-radius: 30px;
            &.active {
                display: none;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    padding: 0px 30px;
                    border-radius: 15px;
                    font-size: 20px;
                    &::placeholder {
                        font-size: 20px;
                        color: #a7a7a7;
                    }
                }
                input[type="submit"] {
                    margin-top: 20px;
                    background-color: var(--blue-2);
                    border-radius: 30px;
                    margin: 20px auto 0px auto;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--blue);
                    }
                    &:active {
                        background-color: var(--black);
                    }
                }
            }
        }

        &_thank {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: none;
            h3 {
                font-size: 32px;
                color: var(--blue);
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 29px;
                max-width: 556px;
            }
            p {
                font-size: 24px;
                line-height: 1.3;
                text-align: center;
                max-width: 556px;
            }
            &.active {
                display: flex;
            }
        }
    }

    &__form {
        &_title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 40px;
            max-width: 740px;
            text-transform: uppercase;
            line-height: 1.2;
        }

        &_name {
        }
    }
}
@media (max-width: 767px) {
    .step {
        background-color: var(--white);
        border-radius: 40px;
        padding: 48px 0px 32px 0px;
        margin: 30px 0px;
        &__container {
        }
        &__title {
            color: var(--blue);
            max-width: 328px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 32px;
        }

        &__columns {
            display: flex;
            gap: 20px;
            flex-direction: column;
            &_image {
                display: none;
                flex: inherit;
                width: 100%;
                img {
                    width: 100%;
                }
            }

            &_form {
                flex: inherit;
                background-color: var(--grey-2);
                padding: 24px 16px;
                text-align: center;
                border-radius: 30px;
                margin: 0px -16px;
                &.active {
                    display: none;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    input {
                        height: 60px;
                        display: flex;
                        align-items: center;
                        padding: 0px 30px;
                        border-radius: 15px;
                        font-size: 20px;
                        &::placeholder {
                            font-size: 20px;
                            color: #a7a7a7;
                        }
                    }
                    input[type="submit"] {
                        margin-top: 20px;
                        background-color: var(--blue-2);
                        border-radius: 30px;
                        font-size: 16px;
                        margin: 20px auto 0px auto;
                        cursor: pointer;
                        max-width: inherit;
                        &:hover {
                            background-color: var(--blue);
                        }
                        &:active {
                            background-color: var(--black);
                        }
                    }
                }
            }

            &_thank {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                display: none;
                h3 {
                    font-size: 32px;
                    color: var(--blue);
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 29px;
                    max-width: 556px;
                }
                p {
                    font-size: 24px;
                    line-height: 1.3;
                    text-align: center;
                    max-width: 556px;
                }
                &.active {
                    display: flex;
                }
            }
        }

        &__form {
            &_title {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 18px;
                max-width: 740px;
                text-transform: uppercase;
                line-height: 1.2;
            }

            &_name {
            }
        }
    }
}
