.teacher {
    
    &__container {
    }

    &__title {
    }

    &__swiper {
    }

    &__wrapper {
    }

    &__slide {
    }

    &__img {
    }

    &__content {

        &_name {
        }
    }

    &__list {

        &_item {
        }
    }
}