.why {
    background-color: var(--white);
    border-radius: 40px;
    margin: 30px 0px;
    padding: 100px 0px;

    &__container {
    }

    &__title {
        margin-bottom: 70px;
    }

    &__columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__column {
        padding: 24px;
        border-radius: 20px;
        min-height: 317px;
        color: var(--white);
        &:nth-child(1) {
            background-color: var(--blue-2);
            .why__column_title {
                border-color: var(--blue);
            }
        }
        &:nth-child(2) {
            background-color: var(--yellow-2);
            .why__column_title {
                border-color: var(--yellow);
            }
        }
        &:nth-child(3) {
            background-color: var(--green-2);
            .why__column_title {
                border-color: var(--green);
            }
        }
        &_num {
            display: flex;
            justify-content: space-between;
        }

        &_title {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 50px 0px 28px 0px;
            border-bottom: 4px solid #000;
            padding-bottom: 12px;
        }

        &_text {
            line-height: 1.2;
            font-weight: 400;
            font-size: 18px;
        }
    }
}
@media (max-width: 767px) {
    .why {
        background-color: var(--white);
        border-radius: 40px;
        margin: 30px 0px;
        padding: 48px 0px;
    
        &__container {
        }
    
        &__title {
            margin-bottom: 24px;
        }
    
        &__columns {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 6px;
        }
    
        &__column {
            padding: 16px;
            border-radius: 20px;
            min-height: inherit;
            color: var(--white);
            &:nth-child(1) {
                background-color: var(--blue-2);
                .why__column_title {
                    border-color: var(--blue);
                }
            }
            &:nth-child(2) {
                background-color: var(--yellow-2);
                .why__column_title {
                    border-color: var(--yellow);
                }
            }
            &:nth-child(3) {
                background-color: var(--green-2);
                .why__column_title {
                    border-color: var(--green);
                }
            }
            &_num {
                display: flex;
                justify-content: space-between;
                img {
                    max-width: 56px;
                }
            }
    
            &_title {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 16px 0px 24px 0px;
                border-bottom: 4px solid #000;
                padding-bottom: 12px;
            }
    
            &_text {
                line-height: 1.2;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}