.button {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    max-width: 340px;
    color: var(--white);
    border-radius: 30px;
    transition: 0.3s ease all;
}
.mobile-only {
    display: none !important;
}
.title {
    font-size: 48px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .desktop-only {
        display: none !important;
    }
    .mobile-only {
        display: flex !important;
    }
    .title {
        font-size: 32px;
        color: var(--black);
        font-weight: 700;
        text-transform: uppercase;
    }
}