:root {
	// Семейство шрифта по умолчанию
	--proxima: "Proxima Nova";


	// Цвет шрифта по умолчанию
	--white: #fff;
	--black: #313131;
	--blue: #028A91;
	--blue-2: #13B9C2;
	--blue-3: #73F8F1;
	--green: #124734;
	--green-2: #1D7754;
	--green-3: #86E3A6;
	--yellow: #FF9700;
	--yellow-2: #FFB140;
	--yellow-3: #FFC673;
	
	--radius: 30px;

}