<section class="faq">
    <div class="faq__container">
        <div class="faq__title title">FAQ</div>
        <div class="faq__faqs">
            <div class="faq__item">
                <h4 class="faq__item_question">
                    С какого уровня можно начать обучение?
                    <span><img src="../img/svg/plus.svg" alt="plus" /></span>
                </h4>
                <p class="faq__item_answer">
                    С любого – у нас есть курсы от Beginner до IELTS
                </p>
            </div>
            <div class="faq__item">
                <h4 class="faq__item_question">
                    Вы даёте сертификаты?
                    <span><img src="../img/svg/plus.svg" alt="plus" /></span>
                </h4>
                <p class="faq__item_answer">
                    Да, по завершению каждого уровня выдаётся сертификат,
                    подтверждающий уровень владения языком.
                </p>
            </div>
            <div class="faq__item">
                <h4 class="faq__item_question">
                    Сколько студентов в группе?
                    <span><img src="../img/svg/plus.svg" alt="plus" /></span>
                </h4>
                <p class="faq__item_answer">
                    Максимум 10 человек – для эффективного взаимодействия и
                    индивидуального подхода.
                </p>
            </div>
            <div class="faq__item">
                <h4 class="faq__item_question">
                    Есть ли пробный урок?
                    <span><img src="../img/svg/plus.svg" alt="plus" /></span>
                </h4>
                <p class="faq__item_answer">
                    Да, первый урок бесплатный. Он поможет вам определить свой
                    уровень и познакомиться с методикой.
                </p>
            </div>
        </div>
    </div>
</section>
