<header class="header">
    <div class="header__container">
        <div class="header__box">
            <div class="header__logo">
                <a href="##"><img src="../img/svg/logo.svg" alt="logo" /></a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list_item">
                        <a href="##">Преподаватели</a>
                    </li>
                    <li class="header__list_item"><a href="##">Курсы</a></li>
                    <li class="header__list_item"><a href="##">Контакты</a></li>
                    <a class="header__button_write button" href="##">Запишитесь на первый урок</a>
                    <a class="header__button_pay button" href="##">Оплатить онлайн</a>
                    <a href="##" class="header__sign mobile-only">Войти</a>
                </ul>
            </nav>
            <div class="header__languages">
                <a href="##">UZB</a>
                <a href="##">RU</a>
                <a href="##">ENG</a>
            </div>
            <div class="header__burger mobile-only">
                <span></span>
            </div>
            <a class="header__sign desktop-only" href="##">Войти</a>
        </div>
    </div>
</header>
