<section class="info">
    <div class="info__level">
        <div class="info__box">
            <span>Beginner (A1)</span>
            <span>Elementary (A2)</span>
            <span>Pre-intermediate (B1)</span>
            <span>Intermediate (B1-B2)</span>
            <span>Pre-IELTS</span>
            <span>IELTS</span>
            <span>Beginner (A1)</span>
            <span>Elementary (A2)</span>
            <span>Pre-intermediate (B1)</span>
            <span>Intermediate (B1-B2)</span>
            <span>Pre-IELTS</span>
            <span>IELTS</span>
        </div>
        <div class="info__box">
            <span>Beginner (A1)</span>
            <span>Elementary (A2)</span>
            <span>Pre-intermediate (B1)</span>
            <span>Intermediate (B1-B2)</span>
            <span>Pre-IELTS</span>
            <span>IELTS</span>
            <span>Beginner (A1)</span>
            <span>Elementary (A2)</span>
            <span>Pre-intermediate (B1)</span>
            <span>Intermediate (B1-B2)</span>
            <span>Pre-IELTS</span>
            <span>IELTS</span>
        </div>
    </div>
    <div class="info__container">
        <div class="info__columns">
            <div class="info__column">
                <span>10</span>
                <p>лет опыта в обучении</p>
            </div>
            <div class="info__column">
                <span>2</span>
                <p>
                    профессиональных преподавателя с международным образованием
                </p>
            </div>
            <div class="info__column">
                <span
                    >1000
                    <div>+</div></span
                >
                <p>довольных студентов</p>
            </div>
            <div class="info__column info__column_special">
                <div>до <span>8</span></div>
                человек в группе
            </div>
            <div class="info__column">
                <span>6</span>
                <p>уровней обучения</p>
            </div>
        </div>
        <div class="info__percent">
            <div class="info__percent_title">
                90
                <span>%</span>
            </div>
            <div class="info__percent_subtitle">
                студентов достигают<br class="mobile-only"> желаемого<br class="desktop-only">результата<br class="mobile-only"> за 6 месяцев
            </div>
        </div>
    </div>
</section>
