<section class="learn">
    <div class="learn__container">
        <div class="learn__title title">стоимость обучения</div>
        <div class="learn__columns">
            <div class="learn__column">
                <p class="learn__column_title">групповые<br>занятия</p>
                <p class="learn__column_title">от 500 000 сум / месяц</p>
            </div>
            <div class="learn__column">
                <p class="learn__column_title">индивидуальные занятия</p>
                <p class="learn__column_title">от 1 000 000 сум / месяц</p>
            </div>
            <div class="learn__column">
                <p class="learn__column_title">ielts<br>интенсив</p>
                <p class="learn__column_title">от 1 200 000 сум / месяц</p>
            </div>
        </div>
    </div>
</section>
