<section class="main">
    <div class="main__container">
        <div class="main__columns">
            <div class="main__content">
                <h1 class="main__content_title">
                    Школа английского языка для любого возраста
                </h1>
                <p class="main__content_subtitle">Научим говорить на английском языке с нуля за 6 месяцев</p>
                <a class="main__button button" href="##">Запишитесь на первый урок</a>
            </div>
            <div class="main__image ">
                <img src="../img/png/main01.png" alt="globus">
            </div>
        </div>
    </div>
</section>
