<section class="school">
    <div class="school__container">
        <div class="school__columns">
            <div class="school__content">
                <div class="school__content_title title">о нашей школе</div>
                <div class="school__content_text">
                    <p>
                        Наш учебный центр уже более 10 лет специализируется на
                        преподавании иностранных языков и подготовке к
                        международным экзаменам. Мы успешно обучили сотни
                        студентов, помогая им достигать академических, карьерных
                        и личных целей.
                    </p>
                    <div class="school__img mobile-only">
                        <img src="../img/jpg/school01.jpg" alt="school" />
                    </div>
                    <p>
                        Наша миссия — дать качественное образование без воды, с
                        максимальной отдачей и результатом.
                    </p>
                </div>
                <a href="##" class="school__content_button button"
                    >Запишитесь на первый урок</a
                >
            </div>
            <div class="school__img desktop-only">
                <img src="../img/jpg/school01.jpg" alt="school" />
            </div>
        </div>
    </div>
</section>
