<section class="step">
    <div class="step__container">
        <div class="step__title title">сделайте <br class="mobile-only">первый шаг</div>
        <div class="step__columns">
            <div class="step__columns_image">
                <img src="../img/png/step-bg.png" alt="image" />
            </div>
            <div class="step__columns_form">
                <div class="step__form_title">
                    Оставьте Ваши контакты,<br>для регистрации на занятия
                </div>
                <form action="##">
                    <div class="profile__input input">
                        <input
                            type="text"
                            id="last-name"
                            placeholder=" "
                        />
                        <label for="last-name">Имя</label>
                        <span>Недопустимый формат данных. Введите не менее 2 символов</span>
                    </div>
                    <div class="profile__input input">
                        <input
                            type="tel"
                            id="last-name"
                            placeholder=" "
                        />
                        <label for="last-name">Номер телефона</label>
                        <span>Недопустимый формат данных. Введите номер в формате цифр</span>
                    </div>
                    <div class="profile__input input">
                        <input
                            type="number"
                            id="last-name"
                            placeholder=" "
                        />
                        <label for="last-name">Возраст</label>
                        <span>Недопустимый формат данных. Введите возраст в формате цифр</span>
                    </div>
                    <input class="button" type="submit" value="Отправить">
                </form>
            </div>
            <div class="step__columns_thank">
                <h3>спасибо за заявку!</h3>
                <p>В ближайшее время наш менеджер свяжется с Вами для обсуждения дальнейших действий</p>
            </div>
        </div>
    </div>
</section>
