<section class="student">
    <div class="student__container">
        <div class="student__title title">наши студенты</div>
        <div class="student__swiper swiper-container">
            <div class="student__wrapper swiper-wrapper">
                <div class="student__slide swiper-slide">
                    <div class="student__slide_img">
                        <img src="../img/png/student01.png" alt="student">
                    </div>
                    <div class="student__slide_content">
                        <div class="student__slide_content-box">
                            <div class="student__slide_content-score">
                                <span>8.5</span>
                                <p>listening</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>8.0</span>
                                <p>reading</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>6.5</span>
                                <p>writing</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>6.5</span>
                                <p>speaking</p>
                            </div>
                        </div>
                        <div class="student__slide_content-overall">
                            <span>7.5</span>
                            <p>Overall Band Score</p>
                        </div>
                    </div>
                </div>
                <div class="student__slide swiper-slide">
                    <div class="student__slide_img">
                        <img src="../img/png/student02.png" alt="student">
                    </div>
                    <div class="student__slide_content">
                        <div class="student__slide_content-box">
                            <div class="student__slide_content-score">
                                <span>8.5</span>
                                <p>listening</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>8.5</span>
                                <p>reading</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>6.5</span>
                                <p>writing</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>7.5</span>
                                <p>speaking</p>
                            </div>
                        </div>
                        <div class="student__slide_content-overall">
                            <span>8.0</span>
                            <p>Overall Band Score</p>
                        </div>
                    </div>
                </div>
                <div class="student__slide swiper-slide">
                    <div class="student__slide_img">
                        <img src="../img/png/student03.png" alt="student">
                    </div>
                    <div class="student__slide_content">
                        <div class="student__slide_content-box">
                            <div class="student__slide_content-score">
                                <span>8.0</span>
                                <p>listening</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>8.0</span>
                                <p>reading</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>7.5</span>
                                <p>writing</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>6.5</span>
                                <p>speaking</p>
                            </div>
                        </div>
                        <div class="student__slide_content-overall">
                            <span>7.0</span>
                            <p>Overall Band Score</p>
                        </div>
                    </div>
                </div>
                <div class="student__slide swiper-slide">
                    <div class="student__slide_img">
                        <img src="../img/png/student04.png" alt="student">
                    </div>
                    <div class="student__slide_content">
                        <div class="student__slide_content-box">
                            <div class="student__slide_content-score">
                                <span>8.5</span>
                                <p>listening</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>8.0</span>
                                <p>reading</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>6.5</span>
                                <p>writing</p>
                            </div>
                            <div class="student__slide_content-score">
                                <span>6.5</span>
                                <p>speaking</p>
                            </div>
                        </div>
                        <div class="student__slide_content-overall">
                            <span>7.5</span>
                            <p>Overall Band Score</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="student__pagination "></div>
        </div>
    </div>
</section>