<section class="teacher">
    <div class="teacher__container">
        <div class="teacher__title title">наши преподаватели</div>
        <div class="teacher__swiper swiper-container">
            <div class="teacher__wrapper swiper-wrapper">
                <div class="teacher__slide swiper-slide">
                    <div class="teacher__img">
                        <img src="./img/png/teacher01.png" alt="teacher" />
                    </div>
                    <div class="teacher__content_name">
                        Абдуллаев Кахрамон
                    </div>
                    <ul class="teacher__list">
                        <li class="teacher__list_item">
                            Более 10 лет опыта в образовательной сфере
                        </li>
                        <li class="teacher__list_item">
                            Выпускник Westminster International University
                            in Tashkent (WIUT)
                        </li>
                        <li class="teacher__list_item">
                            Специалист в области подготовки к IELTS и
                            коммуникативной методики преподавания
                            английского языка
                        </li>
                    </ul>
                </div>
                <div class="teacher__slide swiper-slide">
                    <div class="teacher__img">
                        <img src="./img/png/teacher02.png" alt="teacher" />
                    </div>
                    <div class="teacher__content_name">
                        Абдуллаев Шахзод
                    </div>
                    <ul class="teacher__list">
                        <li class="teacher__list_item">
                            Более 5 лет преподавательского опыта
                        </li>
                        <li class="teacher__list_item">
                            Студент Президентского Университета
                        </li>
                        <li class="teacher__list_item">
                            Автор учебных материалов и победитель
                            академических стипендий
                        </li>
                        <li class="teacher__list_item">
                            Активно применяет современные методики и
                            технологии в обучении
                        </li>
                    </ul>
                </div>
            </div>
            <div class="teacher__nav mobile-only">
                <span class="teacher__nav_left">
                    <svg
                        width="19"
                        height="15"
                        viewBox="0 0 19 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M17.8 8.36401C18.3523 8.36401 18.8 7.9163 18.8 7.36401C18.8 6.81173 18.3523 6.36401 17.8 6.36401L17.8 7.36401L17.8 8.36401ZM0.292881 6.65691C-0.0976429 7.04743 -0.0976429 7.68059 0.292881 8.07112L6.65684 14.4351C7.04737 14.8256 7.68053 14.8256 8.07106 14.4351C8.46158 14.0446 8.46158 13.4114 8.07106 13.0209L2.4142 7.36401L8.07106 1.70716C8.46158 1.31663 8.46158 0.683469 8.07106 0.292945C7.68053 -0.0975794 7.04737 -0.0975795 6.65684 0.292945L0.292881 6.65691ZM17.8 7.36401L17.8 6.36401L0.999989 6.36401L0.999989 7.36401L0.999988 8.36401L17.8 8.36401L17.8 7.36401Z"
                            fill="#313131"
                        />
                    </svg>
                </span>
                <span class="teacher__nav_right">
                    <svg
                        width="19"
                        height="15"
                        viewBox="0 0 19 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 8.36401C0.447715 8.36401 4.82823e-08 7.9163 0 7.36401C-4.82823e-08 6.81173 0.447715 6.36401 1 6.36401L1 8.36401ZM18.5071 6.65691C18.8976 7.04743 18.8976 7.68059 18.5071 8.07112L12.1431 14.4351C11.7526 14.8256 11.1195 14.8256 10.7289 14.4351C10.3384 14.0446 10.3384 13.4114 10.7289 13.0209L16.3858 7.36401L10.7289 1.70716C10.3384 1.31663 10.3384 0.683469 10.7289 0.292945C11.1195 -0.0975794 11.7526 -0.0975795 12.1431 0.292945L18.5071 6.65691ZM1 7.36401L1 6.36401L17.8 6.36401L17.8 7.36401L17.8 8.36401L1 8.36401L1 7.36401Z"
                            fill="#313131"
                        />
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
