<section class="teacher">
    <div class="teacher__container">
        <div class="teacher__title title">
            <div class="teacher__swiper swiper-container">
                <div class="teacher__wrapper swiper-wrapper">
                    <div class="teacher__slide swiper-slide">
                        <div class="teacher__img">
                            <img src="../img/png/teacher01.png" alt="teacher">
                        </div>
                        <div class="teacher__content">
                            <div class="teacher__content_name">Абдуллаев Кахрамон</div>
                            <ul class="teacher__list">
                                <li class="teacher__list_item">
                                    Более 10 лет опыта в образовательной сфере
                                </li>
                                <li class="teacher__list_item">
                                    Выпускник Westminster International University in Tashkent (WIUT)
                                </li>
                                <li class="teacher__list_item">
                                    Специалист в области подготовки к IELTS и коммуникативной методики преподавания английского языка
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="teacher__slide swiper-slide">
                        <div class="teacher__img">
                            <img src="../img/png/teacher01.png" alt="teacher">
                        </div>
                        <div class="teacher__content">
                            <div class="teacher__content_name">Абдуллаев Шахзод</div>
                            <ul class="teacher__list">
                                <li class="teacher__list_item">
                                    Более 5 лет преподавательского опыта
                                </li>
                                <li class="teacher__list_item">
                                    Студент Президентского Университета
                                </li>
                                <li class="teacher__list_item">
                                    Автор учебных материалов и победитель академических стипендий
                                </li>
                                <li class="teacher__list_item">
                                    Активно применяет современные методики и технологии в обучении
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>