<section class="three">
    <div class="three__container">
        <div class="three__content">
            <div class="three__content_title title">3 шага до решения проблем с учётом</div>
            <img src="../img/png/three01.png" alt="#">
        </div>
        <div class="three__form">
            <div class="three__steps">
                <div class="three__steps_step">
                    <span class="title">01</span>
                    <p>Обсудим вашу ситуацию с бухгалтерией</p>
                </div>
                <div class="three__steps_step">
                    <span class="title">02</span>
                    <p>Подберем решение под ваш бизнес</p>
                </div>
                <div class="three__steps_step">
                    <span class="title">03</span>
                    <p>Начнём работу уже сегодня</p>
                </div>
            </div>
            <div class="three__inputs">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Фамилия">
            </div>
            <input type="tel" placeholder="Номер телефона">
            @@include('../components/dropdown-simple.html', {
                "items": "<li><a href='##'>Ведение бухгалтерии под ключ</a></li><li><a href='##'>Восстановление бухгалтерии</a></li><li><a href='##'>Корректировка и пересдача отчетности</a></li><li><a href='##'>Консультация бухгалтера</a></li><li><a href='##'>Экспресс аудит бухгалтерии</a></li><li><a href='##'>Снижение текущих затрат на бухгалтерию</a></li><li><a href='##'>Разработка учетной политики</a></li><li><a href='##'>Инхаус бухгалтер(на территории клиента)</a></li><li><a href='##'>Расчет зарплаты и кадровый учет</a></li><li><a href='##'>Кадровый аудит</a></li><li><a href='##'>Получение ПИНФЛ</a></li><li><a href='##'>Налоговая консультация</a></li><li><a href='##'>Регистация ИП СП ЧП</a></li><li><a href='##'>Ликвидация ИП СПЧП</a></li><li><a href='##'>Проверка контрагентов</a></li><li><a href='##'>Получение ЭЦП</a></li><li><a href='##'>Услуга возврата НДС</a></li><li><a href='##'>Другое</a></li>",
                "name": "Выберите услугу"
            })
            <input type="email" placeholder="Email-адрес (Необязательно)">
            <a class="three__submit" href="##">
                Отправить
                <img src="../img/svg/form.svg" alt="#">
            </a>
        </div>
    </div>
</section>