<section class="why">
    <div class="why__container">
        <div class="why__title title">почему выбирают именно нас?</div>
        <div class="why__columns">
            <div class="why__column">
                <div class="why__column_num">
                    <span>{ 01 }</span>
                    <img src="./img/png/why01.png" alt="book">
                </div>
                <div class="why__column_title">конкретика  без воды</div>
                <div class="why__column_text">Мы преподносим только то, что действительно необходимо. Никакой теории ради теории — только практические знания и умения.</div>
            </div>
            <div class="why__column">
                <div class="why__column_num">
                    <span>{ 02 }</span>
                    <img src="./img/png/why02.png" alt="book">
                </div>
                <div class="why__column_title">индивидуальный подход</div>
                <div class="why__column_text">Каждому студенту предоставляется личный маршрут обучения, который учитывает уровень, цели и стиль восприятия информации.</div>
            </div>
            <div class="why__column">
                <div class="why__column_num">
                    <span>{ 03 }</span>
                    <img src="./img/png/why03.png" alt="book">
                </div>
                <div class="why__column_title">Система Support Teacher</div>
                <div class="why__column_text">Каждую группу сопровождает не только основной преподаватель, но и ассистент, который помогает с дополнительными разъяснениями и контролем прогресса.
                </div>
            </div>
        </div>
    </div>
</section>