@use "base/reset";
@use "base/fonts";
@use "base/vars";
@use "base/root";
@use "base/mixin" as *;
@use "base/common";
@use "components/header";
@use "components/main";
@use "components/info";
@use "components/school";
@use "components/why";
@use "components/teacher";
@use "components/student";
@use "components/course";
@use "components/learn";
@use "components/faq";
@use "components/step";
@use "components/contact";

[class*="__container"] {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0px 15px;
    min-width: 0;
}
body {
    color: var(--black);
    font-family: var(--proxima);
    font-size: 18px;
    background-color: #F7F7F7;
}
body.lock {
    overflow: hidden;
}
